[submodule "PenguChat-Server"]
	path = Server
	url = https://github.com/jtmaston/PenguChat-Server.git
[submodule "PenguChat-Client"]
	path = Client
	url = https://github.com/jtmaston/PenguChat-Client.git
