attrs==19.3.0
Automat==20.2.0
bcrypt==3.1.7
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
docutils==0.16
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
Kivy==1.11.1
kivy-deps.glew==0.2.0
kivy-deps.gstreamer==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-Garden==0.1.4
peewee==3.13.1
pycparser==2.20
pycryptodome==3.9.6
pyDHFixed==0.1.4
Pygments==2.5.2
PyHamcrest==2.0.2
pypiwin32==223
pywin32==227
requests==2.23.0
six==1.14.0
Twisted==19.10.0
urllib3==1.25.8
zope.interface==4.7.1
