altgraph>=0.17
asgiref>=3.2.7
atomicwrites>=1.3.0
attrs>=19.3.0
certifi>=2020.4.5.1
chardet>=3.0.4
colorama>=0.4.3
crayons>=0.3.0
docutils>=0.16
future>=0.18.2
idna>=2.8
Kivy>=1.11.1
kivy-deps.glew>=0.2.0
kivy-deps.sdl2>=0.2.0
Kivy-Garden>=0.1.4
more-itertools>=8.0.2
packaging>=19.2
pefile>=2019.4.18
piexif>=1.1.3
Pillow>=6.2.2
pip-review>=1.1.0
pluggy>=0.13.1
py>=1.8.1
Pygments>=2.5.2
pyparsing>=2.4.6
pyserial>=3.4
pytest>=5.3.2
pytz>=2019.3
pywin32-ctypes>=0.2.0
requests>=2.22.0
six>=1.13.0
sqlparse>=0.3.1
stegano>=0.9.8
urllib3>=1.25.8
wcwidth>=0.1.7
